body{
font-family: 'Abel', sans-serif;
}

.container{
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.red{
  color: #ae2121;
}

#demo2{
	display : none;
}

.btnFonc{
    margin-left: auto;
    margin-right: auto
}

pre{
text-align: center;
}