body{
font-family: 'Abel', sans-serif;
}

.center{;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.red{
  color: #ae2121;
}

#demo2{
	display : none;
}

.btnFonc{
    margin-left: auto;
    margin-right: auto
}

pre{
text-align: center;
}

.red-text{
  color: #b72424;
}
.pink-text{
  color: #e2896c;
}
.yellow-text{
  color: #D9B44A;
}
.black-text{
 color: #4F6457;
}

.green-text{
  color: #95b962;
}
